<form method="post" action="{{ path('newsletter_delete', {'id': newsletter.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette newsletter ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ newsletter.id) }}">
    <button class="btn">Supprimer</button>
</form>
