Notes :
<ul>
    <li>Pour insérer une image dans le texte, entrer sur une ligne vide [img]adresse_de_l_image[/img]</li>
    <li>Pour insérer une image dans le texte, entrer sur une ligne vide [btn]url[/btn]</li>
    <li>la syntaxe [btn]url[tag][/btn] ([tag] précédant [/btn] inserera les 5 premiers chiffres du secret email à la place de [tag]</li>
</ul>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
