{% extends 'base.html.twig' %}

{% block title %}Nouveau chapitre{% endblock %}

{% block body %}
    <section class="container">
        <h1>Creer un nouveau chapitre</h1>

        {{ include('chapter/_form.html.twig') }}

        <a href="{{ path('chapter_index') }}">Revenir à la liste des chapitres</a>
    </section>

{% endblock %}
