<section class="agenda container">
    {%  include 'tools/_h1.html.twig' with {'title' : 'AGENDA'} %}

    <div class="row ustify-content-around">
        {%  for event in events %}
            {% include 'event/_eventCard.html.twig' with {
                'index' : loop.index0,
            }  %}
        {% endfor %}
    </div>
</section>
