<section class="container-fluid">
    <div class="container">



        <div class="row">
            <div class="blog-row row col-12 col-md-6 ">
                {%  include 'content/_contentCard3.html.twig' with {
                    'content' : mainContent,
                } %}
            </div>

            <div class="blog-row row col-12 col-md-6 ">
                {% for content in contents %}
                    {% include 'content/_contentCard2.html.twig' %}
                {% endfor %}
            </div>
        </div>


    </div>
</section>
