
<section class="video-fond">

    <video controls class="video" disableremoteplayback="" poster="" preload="auto" data-object-fit="" autoplay="" playsinline="" muted="" loop="" data-was-processed="true">
        <!-- Source vidéo par défaut -->
        <source type="video/webm" src="pictures/cdf-videGrenier4quar.mp4" media="(orientation: landscape)">
    </video>

    <div class="text-wrapper">
        <p>Vide grenier de Villereau</p>
        <p>27 - 06 - 2021</p>
        <p>
            {#
            <div class="annule maj">ANNULé pour cause de CONFINEMENT</div>
            <div class="annule">Mais vous pouvez participer à l'écriture d'une histoire de Pâques ! Lisez ci dessous</div>
            #}
        </p>

        <div class="button-panel">
            <button class="btn btn-primary" data-toggle="modal" data-target="#infoModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                Infos pratiques
            </button>

            <button class=" btn btn-primary" data-toggle="modal" data-target="#activityModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                    <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                </svg>
                Activités sur place
            </button>
        </div>
    </div>

</section>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="modal with info about event" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Informations pratiques</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column">
                <ul>
                    <li>Sur le terrain de foot, derrière la salle des fêtes de Villereau</li>
                    <li>Les exposants peuvent garder leur véhicule sur leur stand pourvu qu'ils aient reservé une place assez longue</li>
                    <li>Tarif particulier : 2€ le mètre</li>
                    <li>Tarif professionnel : 4€ le mètre</li>
                    <li>Les règlements peuvent être envoyés à "Comité des fêtes de Villereau, 11 rue Meslée, 45170 Villereau". La boite aux lettres est située devant la mairie.</li>
                    <li>Buvette et Restauration sur place. Professionnels de l'alimentaire à consommer sur place interdits.</li>
                    <li>Mesures de distanciation sanitaires en vigueur applicables. Merci de vous munir d'un masque et de gel hydroalcoolique.</li>


                </ul>
                <a class="btn btn-primary mr-auto ml-auto" href="{{ path('contact') }}">Hey ! J'ai des questions</a>
                <a class="btn btn-primary mr-auto ml-auto" href="https://www.cdf-villereau.fr/content/vide-grenier-2021">Plus</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="modal with activity of that event" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Activités</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <h2>Vide grenier</h2>
                <p>Venez découvrir les curiosités et bonnes affaires des nos exposants sur le vide grenier.</p>

                <h2>Restauration</h2>
                <p>La restauration se fait dans une ambiance de guinguette. Nappes vichy et accordéon accompagneront vos discussions entre amis autour d'un raffraichissement bien mérité.</p>
                <img class="paragraph-picture img-responsive"
                     src="{{ asset('/guinguette.jpeg')|imagine_filter('reduced') }}"
                     alt="Illustration pour le paragraph">

                <h2>Animation jeux avec </h2>
                <p>Aurélie animera des parties de jeux de sociétés pour les plus jeunes. Que vous soyez exposants et que vous vouliez calmer les enfants impatients ou que vous soyez visiteurs
                    en recherche de divertissement, vous trouverez ce que vous cherchez à son stand. Rien de tel qu'un moment de rigolade aprés avoir trouvé la bonne affaire sur le vide grenier.</p>

                <h2>Le clou du spectacle</h2>
                <p>James et Vicky, les dompteurs de feu viendront donner une touche spectaculaire et mystérieuse à ce vide grenier. De 16h30 à 17h, il vous feront découvrir leur habileté dans la manipulation du feu.
                    Ma fille me dit que c'est impossible de cracher du feu, et vos enfants, ils y croient ?</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
