<div class="card content-card">
    <img class="card-img-top" src="/pictures/content/{{ content.picture ?? 'emptyContentPicture.jpg' }}" alt="Card image cap">

    <div class="content-card-body">
        <h2 class="card-title">{{content.title}}</h2>
        <p class="detail">Publié le {{content.date|date("d/m/Y")}}</p>
        <p class="card-text">{{content.text|u.truncate(125)}}...</p>

        {% include 'tools/_seeButton.html.twig' with {
            'text': 'Voir l\'article',
            'path': path('content_show', {'id': content.id})
        } %}

        {% include 'tools/_adminButton.html.twig' with {
            'text': 'Modifier',
            'path': path('content_edit', {'id': content.id})
        } %}

        {% include 'tools/_adminButton.html.twig' with {
            'text': 'Envoyer cet article aux abonnés par email',
            'path': path('content_notify', {'id': content.id})
        } %}
    </div>

</div>
