{% extends 'base.html.twig' %}

{% block title %}Réglisse au Pays des Vermeils!{% endblock %}

{% block body %}

    <div class="container">
        <h1>Réglisse au Pays des Vermeils!</h1>
        <p class="h1-sub">Un cadavre Exquis avec le <span class="cdf">Comité des Fêtes de Villereau</span></p>

        Bravo, Vous êtes arrivé à la fin du parcours ! Vous allez pouvoir consulter la totalité des participations.

        Attention !

        Rappelez vous que l'écoulement du temps peut être étrange, le jeu est peut être encore en cours. Ne revelez pas trop de mystères aux autres joueurs. Raffraichissez cette page de temps en temps pour voir si le texte évolue.

        Voici donc où en est notre loufoque intrigue :

        {% for sentences in sentencesByChapter %}
            <h2>Chapitre {{ loop.index }} - {{ chapters[loop.index0].title }}</h2>

            <ul>
                {% for sentence in sentences %}
                    <li>{{ sentence.text }}</li>
                {% endfor %}
            </ul>

        {% endfor %}
    </div>

{% endblock %}
