{% extends 'cadavre-base.html.twig' %}

{% block title %}La mystérieuse Carotarêve{% endblock %}

{% block body %}

    <div class="container h-100">
        <h1>La mystérieuse Carotarêve</h1>
        <p class="h1-sub">Un cadavre Exquis avec le <span class="cdf">Comité des Fêtes de Villereau</span></p>

        <p class="centered">Hep là, le jeu n'est pas encore ouvert ! Rendez vous le 5 avril 2021 à partir de minuit ;-)</p>
        <a class="btn btn-primary btn-lg " href="{{ path('home') }}">Retour à l'accueil <span class="sr-only">(current)</span></a>
    </div>

{% endblock %}
