<form method="post" action="{{ path('sentence_delete', {'id': sentence.id}) }}" onsubmit="return confirm('Etes vous certain de vouloir supprimer cette contribution?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sentence.id) }}">
    <button class="btn">Supprimer</button>
</form>
