{% extends 'base.html.twig' %}

{% block title %}New StatTag{% endblock %}

{% block body %}
    <h1>Create new StatTag</h1>

    {{ include('stat_tag/_form.html.twig') }}

    <a href="{{ path('stat_tag_index') }}">back to list</a>
{% endblock %}
