@import "_vars";

.blog-row{
  //max-height : 80vh;
  //min-height : 80vh;
}

.blog-main-content a, .blog-card a {
  height : 40%;
  .blog-card-image{
    width : 100%;
    height:100%;

    object-fit: cover;
  }
}

.blog-card-details{
  display:flex;
  height : max-content;
  flex: 0 0 auto;
  font-size: $font-size-small;
  margin-top : $spacing-h-small;
  margin-bottom: $spacing-h-small;
  font-style: italic;
  color : $grey;
}

.blog-card-title{
  display:flex;
  height : max-content;
  flex: 0 4 auto;
  color : $secondary-transparent;
  font-size : $font-size * 1.1;
  font-weight: bold;
}

.blog-card-text {
  display:flex;
  flex:1 1 auto;

  overflow:hidden;

  position :relative;
  &:after {
    content : " ";

    z-index : 20;
    $background : $background;
    background : linear-gradient(
                    rgba($background, 0),
                    rgba($background, 0),
                    rgba($background, 0),
                    rgba($background, 0.6),
                    rgba($background, 0.8),
                    rgba($background, 1)
    );

    position: absolute;
    top: 0;
    left: 0;
    width : 100%;
    height : 100%;
  }
}

.blog-card{
  display:flex;
  flex-direction:column;

  //width : calc(50% - 20px);
  //height : calc(50% - 20px);
  //max-height:50%;

  height : 40vh;
  //max-height : 40vh;
  //min-height : 40vh;

  margin-right : auto;
  margin-left : auto;
  margin-top : 10px;
  margin-bottom : 10px;

  overflow : hidden;

  border : thin solid $thirdary;
  padding : 10px;

  .blog-card-body{
    width : 100%;
    height : 60%;
    display:flex;
    flex-direction:column;


  }
}

.blog-main-content{
  display:flex;
  flex-direction:column;
  width : 100%;
  //height : 100%;
  height : calc(80vh + 40px);
  background-color: $thirdary;
  overflow : hidden;

  padding: 15px;

  .blog-card-title{
    color : $light;
  }

  .blog-card-text:after {
    $background: $thirdary;
    background: linear-gradient(
                    rgba($background, 0),
                    rgba($background, 0),
                    rgba($background, 0),
                    rgba($background, 0.6),
                    rgba($background, 0.8),
                    rgba($background, 1)
    );
  }
}






