@import "_vars";

.footer {
  padding: $spacing-w-small;

  height: $footer-height;

  background: $secondary-transparent;
  color: $thirdary;

  border-radius: 0;
}

.footer li{
  list-style: none;

  font-size: $font-size-small;
  font-weight: bold;

  color: $light;

  margin-left: $spacing-w-small;
}
