@import "_vars";

.footer {
  $height : 14vw;

  padding: $spacing-w-small;

  height: $footer-height;

  background: $secondary-transparent;
  color: $thirdary;

  border-radius: 0;

  margin-top: $height + 1vw;
  position:relative;

  &:before{

    position:absolute;
    top: -$height;

    content:" ";
    width:100%;
    height: $height;
    background: bottom/contain no-repeat url("../pictures/cdf-mini.svg");
  }

}

.footer li{
  list-style: none;

  font-size: $font-size-small;
  font-weight: bold;

  color: $light;

  margin-left: $spacing-w-small;
}
