@import "_vars";

.footer {
  $height : 14vw;

  padding: $spacing-w-small;

  height: $footer-height;

  background: $secondary-transparent;


  border-radius: 0;

  margin-top: $height + 1vw;
  position:relative;

  &:before{
    $width : 50%;

    position:absolute;
    top: -$height;

    content:" ";
    width: $width;
    height: $height;
    background: bottom/contain no-repeat url("../pictures/cdf-mini.svg");
    margin-left: (100% - $width ) / 2;
  }

}

.footer li{
  list-style: none;

  font-size: $font-size-small;
  font-weight: bold;

  color: $light;

  margin-left: $spacing-w-small;
}
