@import "_vars.scss";
@import "~bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: 'Alice';
    src: url(../fonts/Alice_in_Wonderland_3.ttf) format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #009688;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: $light;
    --dark:$dark;
    --primary : $primary;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html{
    font-size : 62.5%;
    font-family: "Poppins";
    //overflow-x: hidden;

    body {
        background-color: #EBF1FD;
        font-size : $font-small;

        background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),
                    url("../pictures/easterForest2-min.jpg");
        background-repeat : no-repeat;
        background-size:cover;
        background-position: right;
    }
}

section{
    margin-top : 7vh;
}

h1 {
    color: $primary;
    font-family: "Alice";
    font-size: calc(4.5vw + 35px);
    line-height: 80%;
    margin-top : 5vh;
    margin-bottom: 0;
}

h2{
    color: $secondary;
    font-family: Alice;
    font-size: calc(2.5vw + 23px);
}

p{
    font-family: "Poppins";
    font-size : $font-normal;
}

.h1-sub{

    .cdf{
        color: $secondary;
        text-shadow: #7DA0B1;
        font-style: italic;
        font-weight: bold;
    }
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 100%;
}

.code{
    width : 320px;
}

textarea.form-control.text {
    width : 100%;
    margin-top : 50px;
    height : 30vh;
}

textarea.form-control .text{
    height : 100%;
}

#chapter, #sentence{
    width:100%;
}



