@import "_vars";
@import "_navbar";
@import "_footer";
@import "_flashes";
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'BodoniBold';
    src: url(../fonts/bodoni-bold.ttf) format('truetype');
}

@font-face {
    font-family: 'sourceProSsSerif';
    src: url(../fonts/source-sans-pro.ttf) format('truetype');
}

@font-face {
    font-family: 'SourceSerifPro';
    src: url(../fonts/SourceSerifPro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat-light.ttf) format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    src: url(../fonts/Merriweather-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Riesling';
    src: url(../fonts/riesling.ttf) format('truetype');
}

@font-face {
    font-family: 'Parisian';
    src: url(../fonts/ParisianBT-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'Canter';
    src: url('../fonts/Canter Light.otf') format('truetype');
}
* {
    margin : 0;
    padding : 0;
    border-radius : 3px;
}

html{
    font-size : 62.5%;
    min-height : 100%;
}

body {
    background : $background;
    font-family: 'Poppins';
    font-size : $font-size;
    font-color : $dark;
}

.light {
    color : $light;
}

.sticky-block{
    position:sticky;
    top:0;
    z-index : 1000;
}

.navbar-title{
    padding-left: 0.5rem;

    font-family: 'Parisian', sans-serif;
    font-size: $titleFontSize;

    color: $secondary-transparent;

    line-height: 100%;

    .site-title{
        color:$primary;
        margin :0;
        padding :0;
        margin-top: 20px;
        position: relative;

        .site-title-end{
            position: absolute;
            top: 30%;
            right: -40%;
            color: transparent;
            z-index: -1;
            font-family: montserrat;
            font-size: 45px;
            text-shadow: 1px 1px 2px $grey;
            font-size : $subTitleFontSize;
        }
    }

    .site-subtitle{
        display : none;
        margin :0;
        padding :0;
        font-size : $subTitleFontSize;
    }
}

.bi{
    margin-top: -3px;
}

.fit-cover{
    object-fit: cover;
}

.h-40{
    height : 40%;
}

.annule{
    margin:auto;
    font-size : $font-size-big;
    font-family: 'Poppins';

    background-color: $primary-transparent;
    max-width: 100%;
    white-space: pre-wrap;
    border-radius : 0px;
}

.maj{
    text-transform: uppercase;
}

.error-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section, section.container {
    //margin-top : $spacing-h-small;
    margin-bottom : $spacing-h-small;

    padding-top : $spacing-h-normal;
    padding-bottom : $spacing-h-small;
}

a.light-link, .nav-link{
    color : $light;
    font-size : $font-size;
    text-decoration: none;
    text-transform: uppercase;

    &:hover{
        color : $primary;
        transform : scale(1.1);
    }
}

a{
    color : $secondary;
    font-size : $font-size;
    text-decoration: none;

    &:hover{
        color : $primary;
    }
}

h1 {
    max-width : 100%;
    min-width : 100%;

    $thisFontSize : $font-size-verybig;

    color: $primary;

    //margin-top: 10px;
    margin-bottom: $spacing-h-small;
    font-size: $thisFontSize;
    position: relative;

    font-family: 'Parisian', sans-serif;

    text-shadow: 1px 1px #ffffff;
    .titleStyle{

        font-family: 'Parisian', sans-serif;
        padding-left:0;

        font-size : $thisFontSize;
        font-weight : 900;

        color: $primary;
    }
}

.dark h1{
    .titleStyle{
        color : $primary-transparent;
    }
}

h2{
    margin : 0;
    margin-top : $spacing-h-small;
    margin-bottom : $spacing-h-small;
    font-size : $font-size-big;
    font-family: 'Poppins';
    color: $thirdary;
    //text-shadow: 2px 2px 4px $primary-transparent;
}

.deco{
    //font-family: 'Parisian', sans-serif;
    //color: $thirdary;
    //font-size : $font-size-big;
}

.modal-title{
    font-family: 'Parisian', sans-serif;
    color: $primary;
    font-size : $font-size-verybig;
}

hr{
    margin-top:0;
}

li{
    margin-left : $spacing-w-small;
}

.light {
    color:$light;
}

.detail{
    color: grey;
    font-style: italic;
    font-size: $font-size;
}

.button-panel{
    display:flex;
    justify-content: center;
}

.btn{
    font-size: $font-size;
    font-family: 'Lato';
}

.padding{
    padding : 15px;
}



.row {
    justify-content: center;
}

.logo {
    padding : 10px;
    height : 100px;
    max-height : 25vh;
}

.signature{
    color : $dark;
    padding : 0;
    margin : 0;
}

.custom-switch .custom-control-label::before {
    top: 0.7rem;
}
.custom-switch .custom-control-label::after {
    top: calc( 2px + 0.7rem );
}

.form-control{
    font-size: $font-size;
}

@keyframes wind3 {
    0% {
        transform: skew(-5deg) translateX(5px);
    }

    100% {
        transform: skew(0deg);
    }
}

@keyframes wind2 {
    0% {
        transform: rotate(25deg) skew(+2deg) translateX(-2px);
    }

    100% {
        transform: rotate(25deg) skew(0deg);
    }
}

@keyframes wind1 {
    0% {
        transform: skew(-4deg) translateX(4px);
    }

    100% {
        transform: skew(0deg);
    }
}

.month-group{
    font-size: 50px;
    margin-top : $spacing-h-small;
    margin-bottom : 0;
}

@media screen and (orientation: portrait) {
    .horizontal{
        display: none;
    }
    .vertical{
        display:block;
    }
}

@media screen and (orientation: landscape) {
    .horizontal{
        display: block;
    }
    .vertical{
        display:none;
    }
}
