@import "_vars";
@import "_eventCard";
@import "_contentCard";

$height : 85vh;

.video-fond{
  position:relative;
  overflow: hidden;


  height : $height;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  align-items: center;
  background: black;



}

.video{
  position:absolute;
  bottom:0;
  max-width : 100%;
  min-height: 100%;
  object-fit: cover;

  &:after{
    content : " ";
    position : absolute;
    top : 0;
    left : 0;
    height : $height;
    width: 100%;
    background : #00000088;
  }
}

.text-wrapper{
  position:absolute;
  width : 100%;
  text-align: center;
  bottom: 10%;
  font-family: BodoniBold;
  font-size : $titleFontSize;
  color:$light;
}

section:first-of-type{
    margin-top:0;
    margin-left:0;
    padding-top: 0;
}

.dark{
  background-color : $secondary-transparent;
  box-sizing: border-box;
}

.introduction{
  align-items: end;
  justify-content:center;
  display: flex;
  position:relative;

  width:100vw;
  height:60vh;
  object-fit : cover;

  background-attachment: fixed;

  background-color: #FFFFFFCC;
  background: linear-gradient(
                  rgba(0, 0, 0, 0.3),
                  rgba(0, 0, 0, 0.3)
              ),
              center/cover no-repeat url("../pictures/intro.jpg");


}

.btn{
  margin : 10px;
}

.container .row {
  justify-content: center;
}

.widget{
  padding : 15px;
}

.widget-picture-wrapper{
  background-color:$secondary-transparent;
  min-width : 100%;
  max-width : 100%;
  height : 0;
  padding : 0 0 100% 0;
  position: relative;
  overflow: hidden;
}

.weather-btn{
  position: relative;
}

.weather{
  position: absolute;
  top: -250%;
  left: 75%;
  z-index: -1;
}

#newsletterModal {
  label {
    margin-left : 15px;
    margin-right : 15px;
  }
}
