@import "_vars";
@import "_contentCard";

.main-picture-wrapper{
  display: flex;
  justify-content: center;
  margin-top: $spacing-h-small;
  margin-bottom: $spacing-h-large;
  max-height : 60vh;

  .main-picture{
    object-fit: contain;
  }
}

#gallery{
  justify-content: space-around;

  .carousel-control-next, .carousel-control-prev{
    color : $primary;
  }

  background : $secondary;

  padding : $spacing-h-small;

  border-radius : $high-radius - 5px;

  margin-left: auto;
  margin-right: auto;
  margin-top : $spacing-h-small
}

.text{
  img{
    width : 100%;
    padding-top : 5%;
    padding-bottom : 5%;
    padding-right : 20%;
    padding-left : 20%;
  }
}

