@import "_vars";
@import "_contentCard";

.main-picture-wrapper{
  display: flex;
  justify-content: center;
  margin-top: $spacing-h-large;
  margin-bottom: $spacing-h-large;
}

#gallery{
  justify-content: space-around;

  .carousel-control-next, .carousel-control-prev{
    color : $primary;
  }

  background : $secondary;

  padding : $spacing-h-small;

  border-radius : $high-radius - 5px;

  margin-left: auto;
  margin-right: auto;
  margin-top : $spacing-h-small
}
