<nav class="navbar navbar-expand-lg">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(page actuelle)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{{ path('content_index') }}">Tous nos articles <span class="sr-only">(tous les articles)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{{ path('subscribe') }}">Rejoignez nous ! <span class="sr-only">(adherer)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="https://www.comitedesfetes.org/">Qui sommes-nous <span class="sr-only">(qui sommes nous)</span></a>
            </li>
        </ul>
    </div>
</nav>
