<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <meta  name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="{% block metadescription %}Venez bouger à Villereau avec le comité des fêtes de Villereau, tout petit, mais super dynamique. Nous proposons une variété d'évenements de divertissement et de loisirs pour tous ceux qui veulent sortir !{% endblock %}">

        <title>{% block title %}Comité des fêtes de Villereau !{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block facebook %}
            <meta property="og:type"          content="website" />
            <meta property="og:title"         content="Comité des fêtes de Villereau" />
            <meta property="og:description"   content="Une publication en provenance du CDF !" />
        {% endblock %}

        <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/site.webmanifest">
        <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

    </head>
    <body>
        {% block page %}
            <div class="container-fluid d-flex flex-row navbar-title">
                <img class="logo d-none d-sm-inline" src="/logo-transp.png" alt="Logo du comité des fêtes de villereau">
                <div>
                    <div class = "site-title">
                        COMITE DES FETES
                        <div class = "site-title-end">
                            DE VILLEREAU
                        </div>
                    </div>
                    <p class="site-subtitle">Evenementiel sur Villereau depuis 1989 ;-)</p>
                </div>

            </div>



            <div class="sticky-block">
                {% include '_navbar.html.twig' %}
                {% include '_flashes.html.twig' %}
            </div>

            {% block body %}{% endblock %}

            {% include '_footer.html.twig' %}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}

                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous"
                        src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1
                        &version=v11.0
                        &appId=155447606628394"
                        nonce="f0WbKGG5"></script>
            {% endblock %}
        {% endblock %}
    </body>
</html>
