<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <meta  name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Bienvenue à Villereau !{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <div class="container d-flex flex-row navbar-title">
            <img class="logo d-none d-sm-inline" src="/logo-transp.png" alt="Logo du comité des fêtes de villereau">
            <div>
                <p class="site-title"> Comité des fêtes de VILLEREAU</p>
                <p class="site-subtitle">Evenementiel sur Villereau depuis 1989 ;-)</p>
            </div>

        </div>



        <div class="sticky-block">
            {% include '_navbar.html.twig' %}
            {% include '_flashes.html.twig' %}
        </div>

        {% block body %}{% endblock %}

        {% include '_footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
