<form method="post" action="{{ path('newsletter_email_delete', {'id': newsletter_email.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir suprimer cet e-mail?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ newsletter_email.id) }}">
    <button class="btn">Supprimer</button>
</form>
