{% extends 'base.html.twig' %}

{% block title %}Modifier l'e-mail{% endblock %}

{% block body %}
    <section class="container">
        <h1>Modifier l'e-mail</h1>

        {{ include('newsletter_email/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('newsletter_email_index') }}">Revenir à la liste des e-mails</a>

        {{ include('newsletter_email/_delete_form.html.twig') }}
    </section>
{% endblock %}
