{% extends 'base.html.twig' %}

{% block title %}Ajouter un e-mail{% endblock %}

{% block body %}
    <section class="container">
        <h1>Ajouter un e-mail</h1>

        {{ include('newsletter_email/_form.html.twig') }}

        <a href="{{ path('newsletter_email_index') }}">Revenir à la liste des e-mails</a>
    </section>
{% endblock %}
