{% extends 'base.error.html.twig' %}
{% block title %}
    {{ company_name }}~'| 403 Accès non autorisé'
{% endblock %}

{% block errorText %}
    <h2>Désolé!</h2>
    <p>L'accès à cette page n'est pas autorisé.</p>
{% endblock %}
