{% extends 'base.error.html.twig' %}
{% block title %}
    {{ company_name }}~'| 500 Erreur interne'
{% endblock %}

{% block errorText %}
    <h2>Désolé! :(</h2>
    <p>L'application n'est pas accessible pour le moment. Nous travaillons activement pour résoudre le problème.</p>
{% endblock %}
