{% extends 'base.error.html.twig' %}
{% block title %}
    {{ company_name }}~'| 404 page non trouvée'
{% endblock %}

{% block errorText %}
    <h2>Oups! :(</h2>
    <p>Désolé, la page que vous cherchez est introuvable.</p>
{% endblock %}
