{% extends 'email.html.twig' %}

{% block object %}
    Le message suivant vient de vous être envoyé :
{% endblock %}

{% block main %}
    <p>De : {{ name }}</p>

    <p>Source : {{ from }}</p>

    <p>Message : <br/>{{ message }}</p>
{% endblock %}
