{% extends 'email.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block object %}
    Votre inscription à la newsletter avec {{ company_name }}.
{%  endblock %}

{% block message %}
    <p>Nous sommes heureux de vous compter parmi les membres de notre newsletter. Nous espérons que vous y découvrirez des informations utiles pour vous creer votre intérieur cosy et respectueux de l'environnement.</p>
{% endblock %}
