{% extends 'email.html.twig' %}

{% block title %}Des infos toutes chaudes du Comité des Fêtes de Villereau !{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block message %}

    <div class="card content-card">
        <h5 class="card-title">{{subject}}</h5>

        <div class="card-body">
            <p class="card-text">{{text}}</p>
        </div>
    </div>
{% endblock %}
